<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}

  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>{{ page.landing-title }}</h1>
      </header>
      <div class="content">
        <p style="text-transform: uppercase;">{{ page.description }}</p>
        <ul class="actions">
          <li><a href="form/" class="button next scrolly">Get Started</a></li>
        </ul>
      </div>
      <div class="content">
        <p style="text-transform: uppercase;">{{ page.content }}</p>
      </div>
    </div>
  </section>
  
  {% include footer.html %}
</body>
</html>
